/* * {
	margin: 0;
	padding: 0;
	box-sizing: box-border;
	font-family: Arial
}
 */


body { text-align: center; background-color: #EEE;}

header {
  margin: 0 auto; /*center*/
  text-align: center;
  background-color: #BF996B;
  padding: 10px;
  width: 30%; /* 30% of pg. this makes it responsive*/
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}



#flex1, #flex2, #flex3 {
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
}

#flex1 {margin-top: 20px;}
canvas {
  -webkit-animation: animation 2s;
  /*position: relative;*/
  /*width: 100px;
	height: 100px;
  border: 1px dotted black;*/
  margin: 5px;
  background-color: #087ceb;
  box-shadow: 5px 5px 5px #666;
  border-radius: 10%;
  /*text-shadow: 3px 3px grey;*/
}

@-webkit-keyframes animation {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
